@{
    ViewBag.Title = "Home Page";
}

<h1 class="text-center">About Code the Way</h1>
<hr />
<div class="row" >
    <div class="col-md-6">
        <h3 class="text-center">Mission</h3>
        <p>
            Code the Way partners with high schools and technology companies to offer students advanced computer science training and real-world job experiences working on projects that benefit local nonprofits, and increases certified computer science teachers, contributing to the computer science talent base.
        </p>
    </div>
    <div class="col-md-6">
        <h3 class="text-center">Vision</h3>
        <p>
            High School Students in Greater Milwaukee have access to high quality computer science education and real-world job experiences, positioning them for success in technology-related fields.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Code the Way Model</h3>
        <ul>
            <li>Support and training for computer science teacher certification increases the availability and quality of high school computer science programs.</li>
        </ul>
        <ul>
            <li>In addition to an advanced course that may earn post-secondary credits, students get experience working collaboratively on a project that benefits a nonprofit, culminating in a presentation to business leaders.</li>
        </ul>
        <ul>
            <li>Companies invest in education, make technology more accessible to nonprofits, offer their employees a meaningful volunteer experience, and contribute to the talent pipeline.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Past Projects</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="" width="350" height="200" />
    </div>
    <div class="col-md-4">
        <img src="" width="350" height="200" />
    </div>
    <div class="col-md-4">
        <img src="" width="350" height="200" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Heros for Healthcare: 2017</h3>
        <p>
            Students designed a software application for Heroes for Healthcare: a nonprofit organization designed to help military personnel get involved in a career in healthcare.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Life Navigators: 2018</h3>
        <p>
            Students created an application for Life Navigators: a nonprofit with the goal of improving the quality of life for individuals with developmental and related disabilities, their families, and the community through information, education, advocacy and life planning services.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Convergence Resource Center: 2019</h3>
        <p>
            Students collaborated to develop an app for Convergence Resource Center: a nonprofit organization that provides support for victims of human trafficking.
        </p>
    </div>
</div>