@{
    ViewBag.Title = "Home Page";
}

<h1 class="text-center">About Code the Way</h1>
<hr />
<div class="row" >
    <div class="col-md-6">
        <h3 class="text-center">Mission</h3>
        <p>
            Code the Way partners with high schools and technology companies to offer students advanced computer science training and real-world job experiences working on projects that benefit local nonprofits, and increases certified computer science teachers, contributing to the computer science talent base.
        </p>
    </div>
    <div class="col-md-6">
        <h3 class="text-center">Vision</h3>
        <p>
            High School Students in Greater Milwaukee have access to high quality computer science education and real-world job experiences, positioning them for success in technology-related fields.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Code the Way Model</h3>
        <ul>
            <li>Support and training for computer science teacher certification increases the availability and quality of high school computer science programs.</li>
        </ul>
        <ul>
            <li>In addition to an advanced course that may earn post-secondary credits, students get experience working collaboratively on a project that benefits a nonprofit, culminating in a presentation to business leaders.</li>
        </ul>
        <ul>
            <li>Companies invest in education, make technology more accessible to nonprofits, offer their employees a meaningful volunteer experience, and contribute to the talent pipeline.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Past Projects</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4" style="padding-bottom: 2em">
        <img src="~/Images/586A0021.jpg" width="350" height="250" />
    </div>
    <div class="col-md-4" style="padding-bottom: 2em">
        <img src="~/Images/20170524_144224.jpg" width="350" height="250" />
    </div>
    <div class="col-md-4" style="padding-bottom: 2em">
      <img src="~/Images/Team Learning.jpg"  width="350" height="250" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Life Navigators</h3>
        <p>
            In the summer of 2017, 10 junior and senior students partnered with SafeNet to create a data management system for Life Navigators: an organization that serves thousands of children and adults with disabilities.  The students worked for eight weeks with a project manager and developer to create a full data management system that helps track user data and eases the processes of time management and state reporting. The post-launch the system led to an increase in jobs at the organization and more efficient work processes.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Heros for Healthcare</h3>
        <p>
            In 2018, students began collaborating with a brand new non-profit organization called Heroes for Healthcare. The purpose of this organization is to retrain veterans to help them find employment in the healthcare industry. Heros for Healthcare was looking for the students to create a data management tool that tracks the capacity in which the organization helps the veterans, from educational advancement to job placement and beyond.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Convergence Resource Center</h3>
        <p>
            Over the summmer of 2019, a team of 20 high school students collaborated to develop an app for Convergence Resource Center: a nonprofit organization that provides support for victims of human trafficking. Throughout this endeaver, students learned many new computer languages as well as how to communicate effectively with team members, all while creating an application to improve the lives of victims of human trafficking.
        </p>
    </div>
</div>