@{
    ViewBag.Title = "Home Page";
}

<h1 class="text-center">About Code the Way</h1>
<div class="row">
    <div class="col-md-12">
        <h3>Mission</h3>
        <p>
            The mission of code the way is to facilitate the collaboration of schools, companies and nonprofits to offer students advanced computer science training and real world job experiences working on projects that benefit nonprofits, increase certified computer science teachers, and contribute to the technology talent base.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Vision</h3>
        <p>
            High school students in Greater Milwaukee will gain access to high quality computer science education and real-world job experiences, positioning them for success in technology-related fields.
        </p>
    </div>
</div>

