@{
    ViewBag.Title = "About";
}

<h1 class="text-center">@ViewBag.Title Code the Way</h1>
<hr />
<div class="row" >
    <div class="col-md-6">
        <h3 class="text-center">Mission</h3>
        <p>
            Code the Way partners with school districts, universities, and technology companies to offer students advanced computer science training and real-world “on the job” experiences working on projects that benefit local nonprofit companies.  The projects completed have a measurable impact on local nonprofit companies that otherwise could not afford these technology solutions.  Additionally, computer science teacher training and support allows Code the Way to maximize its positive influence on the computer science talent pipeline.
        </p>
    </div>
    <div class="col-md-6">
        <h3 class="text-center">Vision</h3>
        <p>
            High School Students in Southeastern Wisconsin have access to high-quality computer science education and real-world “on the job” experiences, positioning them for success in technology-related fields.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Code the Way Model</h3>
        <ul>
            <li>
                Support and training for computer science teachers – Support and training for computer science teachers increases the availability and quality of high school computer science programs.
            </li>
        </ul>
        <ul>
            <li>
                Student access to real-world “on the job” work experience – Students simulate current industry processes and practices working on projects that impact the local community culminating with a presentation of their accomplishments to community business leaders.
            </li>
        </ul>
        <ul>
            <li>
                Companies are part of the solution – Companies invest in education, make technology more accessible to nonprofits, offer their employees a meaningful volunteer experience, and contribute to the talent pipeline.
            </li>
        </ul>
    </div>
</div>
</div>