@{
    ViewBag.Title = "Contact";
}

<h1 class="text-md-center">@ViewBag.Title Code the Way</h1>

<hr />

<ul class="list-unstyled">
    <li class="media">
        <img src="~/Images/Brad Website-small.jpg" alt="" class="mr-5" />
        <div class="media-body">
            <strong>Brad Zepecki - Group Founder</strong>
            <p>President and Director of Octavian Technology</p>
            <p><a href="mailto:b.zepecki@codetheway.org">b.zepecki@codetheway.org</a></p>
            <p><a href="https://www.linkedin.com/in/bradzepecki">LinkedIn/BradZepecki</a></p>
        </div>
    </li>
    <li class="media my-4">
        <img src="~/Images/Ryan-Bennett-website - small.jpg" alt="" class="mr-5" />
        <div class="media-body">
            <strong>Ryan Bennett - Program Manager</strong>
            <p>Vice President of Engineering at Universal Tennis</p>
            <p><a href="mailto:r.bennett@codetheway.org">r.bennett@codetheway.org</a></p>
            <p><a href="https://www.linkedin.com/in/ryan-bennett-466b545">LinkedIn/RyanBennett</a></p>
        </div>
    </li>
    <li class="media my-4">
        <img src="~/Images/Osterber-Website-small.jpg" alt="" class="mr-5" />
        <div class="media-body">
            <strong>Ryan Osterberg - Education Manager</strong>
            <p>
                Brookfield Central High School Computer Science Teacher
            </p>
            <p><a href="mailto:r.osterberg@codetheway.org">r.osterberg@codetheway.org</a></p>
            <p><a href="https://linkedin.com/in/ryan-osterberg-b8305316">LinkedIn/RyanOsterberg</a></p>
        </div>
    </li>
</ul>
