@{
    ViewBag.Title = "Contact Code the Way";
}
<div class="row">
    <div class="col-md-4 offset-md-4">

        <h2>@ViewBag.Title</h2>

    </div>
</div>
<div class="row">
    <p>
        "   "
    </p>
</div>
<div class="row">
    <div class="col-md-4 offset-md-3">
        <h6>Brad Zapecki - Group Founder</h6>
        <p>President and Director of Octavian Technology</p>
        <p>b.zapecki@codetheway.org</p>
    </div>
</div>
   </div>

<div class="row">
    <div class="col-md-4 offset-md-3">
        <h6>Ryan Bennet - Program Manager</h6>
        <p>SafeNet Consulting</p>
        <p>r.bennett@codetheway.org</p>
    </div>

</div>
