
@{
    ViewBag.Title = "Get Involved";
}
<!--Beginning Filler Information Section-->
<div class="row mb-1">
    <div class="col-md-7">
        <h1>Tagline With Your Unique Selling Proposition</h1>

    </div>
    <div class="col-md-5">
        <img class="img-fluid" src="~/Images/CodeTheWay Logo.png" />
    </div>
</div>
<div class="row mb-5">
    <div class="col-md-5">
        <p>Im a pretty cool sampleIm a pretty cool sampleIm a pretty cool sampleIm a pretty cool sampleIm a pretty cool sampleIm a pretty cool sample</p>
    </div>
</div>
<hr />
<!--Features bootstrap-->
<div class="row mb-5">
    <div class="col-md-4">
        <h3>Feature 1</h3>
    </div>
    <div class="col-md-4">
        <h3>Feature 2</h3>
    </div>
    <div class="col-md-4">
        <h3>Feature 3</h3>
    </div>
</div>
<hr />
<!--Filler image and description-->
<div class="row mb-1">
    <div class="col-md-6">
        <h1>A heading describing your application and advantages</h1>

    </div>
    <div class="col-md-6">
        <img class="img-fluid" src="~/Images/CodeTheWay Logo.png" />
    </div>
</div>
<div class="row mb-5">
    <div class="col-md-5">
        <p>Im a pretty cool sampleIm a pretty cool sampleIm a pretty cool sampleIm a pretty cool sampleIm a pretty cool sampleIm a pretty cool sample</p>
    </div>
</div>
<hr />
<!--Get in touch-->
<div class="row mb-5">
    <div class="col-md-5">
        <h3>Get in touch</h3>
        <p>Filler content yes cool Filler content yes cool Filler content yes cool Filler content yes cool Filler content yes cool </p>
        <address>
            16900 Gebhardt Rd, Brookfield, WI 53005<br>
            1-262-345-5678<br>
        </address>
    </div>
</div>
<hr />
<!--Get involved-->
<div class="row">
    <div class="col-md-8">
        <h3>Lets write a little story about why we want users to download our app</h3>
    </div>
    <div class="col-md-4">
        <button>Get involved</button>
    </div>
</div>