@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<hr />
<h1 class="text-center">What are we about?</h1>

<h1 class="text-md-center">What are we about?</h1>
<div class="row">
    <div class="col-md-6">
        <h3>Real-World Experience for Students</h3>
        <img src="~/Images/StudentsHomePage.png" height="150">
    </div>
    <div class="col-md-6">
        <h3>Opportunities for Companies</h3>
        <img src="~/Images/BuildingHomePage.png" height="150">
    </div>
</div>

<h1 class="text-md-center">Past Projects</h1>

<div class="row">
    <div class="col-md-4">
        <a href="~/Views/Home/About.cshtml"><img src="~/Images/LifeNavigatorsLogo.jpg" width="300"></a>
        <p>Convergence Resource Center | 2019</p>
    </div>
    <div class="col-md-4">
        <a href="~/Views/Home/About.cshtml"><img src="~/Images/ConvergenceResourceCenterLogo.png" width="300" height="150"></a>
        <p>Life Navigators | 2018</p>
    </div>
    <div class="col-md-4">
        <a href="~/Views/Home/About.cshtml"><img src="~/Images/HeroesForHealthcareLogo.png" width="300"></a>
        <p>Heroes for Healthcare | 2017</p>
    </div>
</div>

<h1 class="text-md-center">Testimonials</h1>

<div class="row">
    <div class="col-md-4">
        <p>
            Throughout the course of the summer, I have learned a great deal of new concepts. These new topics are not just limited to computer code. Along with learning proper source control, how to use html, css, and javascript to code a website, and setting up a database communicating data throughout the model, I also grasped skills pertinent to the workplace. I believe these workplace skills to invaluable, more so than any of those related to fullstack development. Of these skills, communicating with both peers and superiors is probably most applicable to just about anything and everything. I found communication to be the key to success. In addition to communication skills, scheduling and time management were also valuable takeaways.
        </p>
        <p>Tyler Tran, '__</p>
    </div>
    <div class="col-md-4">
        <p>
            This experience is close to priceless in value to me because I was able to see how much goes into a project. I was also able to take a peek into the professional realm where I may want to be in for my career. The connections I made will also help me in the future. I couldn't be more grateful for being able to take part in the first summer of Code the Way.
        </p>
        <p>Miriam Khan, '__</p>
    </div>
    <div class="col-md-4">
        <p>
            I believe that the Code the Way internship program has been a life changing experience for all involved. Before the summer experience, we were all rather inexperienced students with just a basic understanding of software development and a curiosity to learn more. As the end of the summer quickly approaches, I can confidently say that my teammates and I have grown immensely in our knowledge of not only software development and the agile method but the business world as a whole.
        </p>
        <p>Ben Tan, '__</p>
    </div>
</div>