
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<ul class="list-unstyled">
    <li class="media">
        
        <img width="524" height="316" src="~/Images/CodeTheWay2019.jpg" />
        
        <div class="media-body">
            <h3 class="mt-0 mb-1">Convergence Resource Center</h3>
                                                  
             Over the summmer of 2019, a team of 20 high school students collaborated to develop an app for Convergence Resource Center: a nonprofit organization that provides support for victims of human trafficking. Throughout this endeaver, students learned many new computer languages as well as how to communicate effectively with team members, all while creating an application to improve the lives of victims of human trafficking.
        </div>
    </li>
    <li class="media my-4">

        <img width="524" height="316" src="~/Images/CodeTheWay2018.jpg" />

        <div class="media-body">
            <h3 class="mt-0 mb-1">Heros for Healthcare</h3>
            In 2018, students began collaborating with a brand new non-profit organization called Heroes for Healthcare. The purpose of this organization is to retrain veterans to help them find employment in the healthcare industry. Heros for Healthcare was looking for the students to create a data management tool that tracks the capacity in which the organization helps the veterans, from educational advancement to job placement and beyond.
        </div>
    </li>
    <li class="media">

        <img width="524" hieght="316" src="~/Images/Team Learning.jpg" />

        <div class="media-body">
            <h3 class="mt-0 mb-1">Life Navigators</h3>
            In the summer of 2017, 10 junior and senior students partnered with SafeNet to create a data management system for Life Navigators: an organization that serves thousands of children and adults with disabilities.  The students worked for eight weeks with a project manager and developer to create a full data management system that helps track user data and eases the processes of time management and state reporting. The post-launch the system led to an increase in jobs at the organization and more efficient work processes.
        </div>
    </li>
</ul>