
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<div class="media">
    <img class="mr-3" src="..." alt="Generic placeholder image">
 <div class="media-body">
     <h5 class="mt-0">Media heading</h5>
     hello
     <div class="media mt-3">
         <a class="pr-3" href="#">
             <img src="..." alt="Generic placeholder img" >
         </a>
         <div class="media-body">
             <h5 class="mt-0">Media heading</h5>
             helloooooo
         </div>
     </div>
 </div>
    </div>