
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<ul class="list-unstyled">
    <li class="media" id="2019">
        
        <img class="mr-3" width="524" height="316" src="~/Images/CodeTheWay2019.jpg" />
        
        <div class="media-body">
            <h3 class="mt-0 mb-1">Convergence Resource Center - 2019</h3>

            <p>About:  The CRC is a faith-based, community service, non-profit organization that provides ancillary support for men and women rebuilding their lives after trauma with an emphasis on formerly incarcerated women and female survivors of human trafficking.</p>
            <p>Accomplishments:  Students created an online communication tool that expanded the number of ways victims of human trafficking can ask the Convergence Resource Center for help.</p>
            <p>Results:  Multiple victims have received help after using the online communication tool as their initial method of contact with the Convergence Resource Center.</p>

        </div>
    </li>
    <li class="media my-4" id="2018">

        <img class="mr-3" width="524" height="316" src="~/Images/CodeTheWay2018.jpg" />

        <div class="media-body">
            <h3 class="mt-0 mb-1">Heros for Healthcare - 2018</h3>
            <p>Mission:  Our mission at Heroes for Healthcare is to be a resource for our military during their transition to civilian life to achieve gainful employment in healthcare.</p>
            <p>Accomplishments:  Students created a custom content management system to digitize and manage all aspects of work for Heroes for Healthcare.</p>
            <p>Results:  Heroes for Healthcare daily operations are 100% digital.  The software improves overall workflow, data access/accuracy, and reporting for grants and tax purposes.</p>

        </div>
    </li>
    <li class="media" id="2017">

        <img class="mr-3" width="524" hieght="316" src="~/Images/Life Navigators - Sprint 1.jpg" />

        <div class="media-body">
            <h3 class="mt-0 mb-1">Life Navigators - 2017</h3>
            <p>Mission:  The mission of Life Navigators is to improve the quality of life for individuals with developmental and related disabilities, their families, and the community through information, education, advocacy and life planning services.</p>
            <p>Accomplishments:  Students created a time and mileage management tool enabling workers to enter information online improving the speed and accuracy of this process.</p>
            <p>Results:  Workers and supervisors successfully implemented the use of the student created time and mileage management tool.  After a year of use, the company purchased a new content management system that took over these duties.  The students software was used as one of the benchmarks in the research and testing phases of the content management system purchase process.</p>

        </div>
    </li>
</ul>